<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" >Home</a>
            <a href="/employeeslist" >View All Employees</a>
            <a href="/contact" >Contact Us</a>
        </nav>
    </header>
    <main>
        <h1>Add Employee</h1>
        <form>
            <label>Name</label><br/>
            <input type="text" id="name" required /><br/>
            <label>Surname</label><br/>
            <input type="text" id="surname" required /><br/>
            <label>ID No.</label><br/>
            <input type="number" id="id-number" required /><br/>
            <label>Email Address</label><br/>
            <input type="email" id="email-address" required /><br/>
            <label>Employee Position</label><br/>
            <input type="email" id="employee-position" required /><br/>
            <label>Phone number</label><br/>
            <input type="number" id="phone-number" required /><br/>
            <label>Image</label><br/>
            <input type="file" id="file" required /><br/>
            <button>Add</button>
        </form>
    </main>
    
</body>
</html>