<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" >View All Employees</a>
            <a href="/contact" >Contact Us</a>
        </nav>
    </header>
    <main>
        <h1>Add Employee</h1>
        <form action="/addnew" method="post">
            <label>Name</label><br/>
            <input type="text" id="name" name="name" required /><br/>
            <label>Surname</label><br/>
            <input type="text" id="surname" name="surname" required /><br/>
            <label>ID No.</label><br/>
            <input type="number" id="id-number" name="idNumber" /><br/>
            <label>Email Address</label><br/>
            <input type="email" id="email-address" name="email" required /><br/>
            <label>Employee Position</label><br/>
            <input type="text" id="employee-position" name="employeePosition" required /><br/>
            <label>Phone number</label><br/>
            <input type="number" id="phone-number" name="phoneNumber" required /><br/>
            <label>Image</label><br/>
            <input type="file" id="file" name="file" /><br/>
            <button>Add</button>
        </form>
    </main>
    
</body>
</html>